/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

/* Document */
body{background:#000 url(/img/bg.gif);font:normal 15px helvetica,arial,freesans,clean,sans-serif;text-align:center;}

/* Formatting */
ul,ol{margin-left:2em;}
p{margin-bottom:1em;}
h1,h2,h3,h4{font-family:'Droid Sans',arial,serif;}
h1{color:#FFF;font-family:'Crushed',arial,serif;font-size:356%;margin:.4em 0;}
h1 a{color:#FFF;}
h2{border-bottom:1px solid #EEE;font-size:1.2em;font-weight:bold;font-weight:normal;margin-bottom:.8em;padding-bottom:.4em;}
h2 label{font-size:1.2em;font-weight:bold;}
em{font-style:italic;}
a,a:visited{color:#900;}
a:focus{outline:dotted #900 1px;}

/* Forms */
fieldset{border:0;}
label{font-weight:normal;}
label,.label{font-size:1em;}
select{font-size:.9em;padding:1px;}
button{
	-moz-border-radius:4px;
	-moz-box-shadow:#BBB 0 1px 4px;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-border-radius:4px;
	-webkit-box-shadow:#BBB 0 1px 4px;
	-webkit-text-shadow:1px 1px 0 #FFF;
	box-shadow:#BBB 0 1px 4px;
	text-shadow:1px 1px 0 #FFF;
	border-radius:4px;	
	
	background:#F4F4F4;
	background:-moz-linear-gradient(top,#FFF,#DDD);
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DDD));

	/* For Internet Explorer 5.5 - 7 */ 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFF,endColorStr=#DDDDDD);
	/* For Internet Explorer 8 */ 
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#DDDDDD)";

	border:1px solid #BBB;
	color:#333;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	overflow:visible;
	padding:.5em;
	white-space:nowrap;
}
button:hover,button:focus{
	border-color:#888;
	color:#000;
	outline:none;
}
button:active{
	-moz-box-shadow:#DFDFDF 0 1px 4px;
	-webkit-box-shadow:#DFDFDF 0 1px 4px;
	box-shadow:#DFDFDF 0 1px 4px;
	background:-moz-linear-gradient(top,#F6F6F6,#EEE);
	background:-webkit-gradient(linear,left top,left bottom,from(#F6F6F6),to(#EEEEEE));
	background: #F6F6F6;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F6F6F6,endColorstr=#EEEEEE);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#F6F6F6,endColorstr=#EEEEEE)";
}
.field,.label.field-style{float:left;padding-left:.6em;text-align:left;width:48%;}
.label,.field.label-style{float:left;font-weight:normal;padding-left:0;padding-top:2px;text-align:right;width:49%;}
.ie6 .label.field-style{text-align:left !important;}
.checkbox{margin:0;padding:0;}

/* Header */
h1 a,h1 a:visited{color:#FFF;text-decoration:none;}

/* Containers */
.box{-moz-border-radius:10px;-webkit-border-radius:10px;background:#FFF;border-radius:10px;padding:1.8em 1.1em;}
.container{margin:0 auto;width:660px;}
.container.box{margin:1em auto;}
#message-container{padding:.6em 1em;text-align:left;}
#message-container ul{margin:0;}
#message-container li{font-size:.95em;line-height:18px;list-style:none;margin-bottom:.5em;min-height:16px;padding-left:24px;}
#message-container li:last-child{margin:0;}
.message-error li{background:url(/img/error.png) no-repeat left top;}
.message-info li{background:url(/img/apply.gif) no-repeat left top;}

/* Navigation */
.navigation{font-size:.8em;margin:-.5em auto 1em auto;text-align:right;}
.navigation{color:#FFF;}
.navigation a,.navigation a:visited{color:#CCC;}
.navigation a:hover{color:#FFF;}

/* Compressor options */
.options-container{margin-bottom:2em;}
.options-container ul{margin:0;}
#option-list{margin:0;}
#option-list li{list-style:none;margin-bottom:1.8em;position:relative;height:1%;}
#option-list li.last{margin-bottom:.1em;}
#option-list textarea{-moz-box-shadow:0 0 3px #888;-webkit-box-shadow:0 0 3px #888;border:1px solid #CCC;box-shadow:0 0 3px #888;height:18em;padding:2px;width:656px;}
#option-list textarea.loading{background:url(/img/ajax-loader.gif) no-repeat center center;}
#option-list .options-container li{margin-bottom:.6em;}
#option-list .options-container li:last-child{margin-bottom:0;}

/* Code textarea tools */
.code-tools{display:none;font-size:.8em;position:absolute;right:0;top:0;}

/* JS */
.js .code-tools{display:block;}
.js #option-list h2{display:none;}

/* Helpers */
.hide{display:none;}
.clear:before,.clear:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clear:after{clear:both;}
.clear{zoom:1;}
.nomarg{margin:0;}
