[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "application/vendor/uglifyjs"]
	path = application/vendor/uglifyjs
	url = https://github.com/mishoo/UglifyJS.git
